In [10]:
import pandas as pd
df = pd.read_csv('play.csv', sep=';', decimal=',')

feininos = df[df['Sexo'] == 'F'].sort_values(by='KM', ascending=False)
masculino = df[df['Sexo'] == 'M'].sort_values(by='KM', ascending=False)

                 Nome     KM Sexo
20        RUY BARBOSA  47.61    M
33    MARCIO CARNEIRO  44.02    M
21   ALESSANDRO SILVA  37.58    M
31        LUCAS MOURA  37.25    M
36      RODRIGO DINIZ  35.27    M
24   EDVANDO DIONISIO  35.09    M
28   JONATHAS ALMEIDA  34.60    M
34        NETO BASTOS  34.09    M
35      RENATO BORGES  31.02    M
25  FERNANDO CARVALHO  31.00    M
29    KLEVER OLIVEIRA  30.70    M
30   LEONARDO BARBOSA  30.24    M
32      LUCAS QUEIROZ  29.97    M
23      DANIEL ARAUJO  29.68    M
22        CASSIO LEAO  29.24    M
27   FLAVIO GUIMARAES  26.10    M
26      FERNANDO LIMA  25.70    M